.login {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    padding: 16px;
    box-shadow: 0 0 20px #ccc
}

.mat-form-field {
    margin-left: 60px;
}

.mat-dialog-title {
    text-align: center;
}

.mat-flat-button {
    width: 100%;
    background-color: #27ae60;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}
