<div class="markers-wrapper">
    <div (click)="navigateTo('complains')" class="img-wrapper">
        <img class="logo-image" src="../../../../../assets/complains.png">
        <span class="marker-text"> Sesizari </span>
    </div>
    <div (click)="navigateTo('rideSharing')" class="img-wrapper">
        <img class="logo-image" src="../../../../../assets/rideShare.jpg">
        <span class="marker-text"> Ride Share </span>
    </div>
    <div (click)="openModalDashboard()" class="img-wrapper">
        <img class="logo-image" src="../../../../../assets/dashboard.png">
        <span class="marker-text"> Tablou </span>
    </div>
    <div *ngIf="api.currentUser.admin" (click)="openModalValidation()" class="img-wrapper">
        <img class="logo-image" src="../../../../../assets/check.png">
        <span class="marker-text"> Validare </span>
    </div>
</div>