.chart-graphic {
  max-width: 100%;
  text-align: center;
  height: 24rem;
  .marks {
    max-width: 100%;
    .mark-group.role-legend {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  svg {
    background-color: transparent !important;
  }
}
