<div class="markers-wrapper">
    <div (click)="chooseMarker('burning')" class="img-wrapper scale">
        <img class="logo-image" src="../../../../../assets/markers/burning.png">
        <span class="marker-text"> Incendiu </span>
    </div>
    <div (click)="chooseMarker('site')" class="img-wrapper scale">
        <img class="logo-image" src="../../../../../assets/markers/site.png">
        <span class="marker-text"> Constructii </span>
    </div>
    <div (click)="chooseMarker('traffic')" class="img-wrapper scale">
        <img class="logo-image" src="../../../../../assets/markers/traffic.png">
        <span class="marker-text"> Trafic </span>
    </div>
    <div (click)="chooseMarker('trash')" class="img-wrapper scale">
        <img class="logo-image" src="../../../../../assets/markers/trash.png">
        <span class="marker-text"> Salubritate </span>
    </div>
    <div (click)="chooseMarker('question')" class="img-wrapper scale">
        <img class="logo-image" src="../../../../../assets/markers/question.png">
        <span class="marker-text"> Altele </span>
    </div>
</div>